<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date on</th>
    <th>Information</th>
    <th>Coffeespot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.date_on %></td>
    <td><%= event.information %></td>
    <td><%= event.coffeespot_id %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
