<h1>Events</h1>

<br />
<% if current_member %>
  <%= link_to 'New Event', new_event_path %>
<% end %>

<div id="table">
  <table>
    <tr>
      <th>タイトル</th>
      <th>日時</th>
      <th>Coffeespot</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @events.each do |event| %>
      <tr>
	<td><%= event.title %></td>
	<td><%= event.date_on.strftime("%Y/%m/%d-%H:%M") %>&nbsp;より</td>
	<td><% unless event.coffeespot_id.blank? %><%= event.coffeespot.name %><% end %></td>
	<td><%= image_tag ("img01.jpg")%>&nbsp;&nbsp;<%= link_to '詳細を見る', event %></td>
	<% if current_member%>
	  <td>|&nbsp;&nbsp;<%= link_to 'Edit', edit_event_path(event) %></td>
	  <td>|&nbsp;&nbsp;<%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
      </tr>
    <% end %>
  </table>
</div>
<br />
