<p id="notice"><%= notice %></p>

<p>
  <b>タイトル：</b>
  <%= @event.title %>
</p>

<p>
  <b>日時：</b>
  <%= @event.date_on %>
</p>

<p>
  <b>内容：</b>
  <%= @event.information %>
</p>

<p>
  <b>Coffeespot：</b>
  <%= @event.coffeespot_id %>
</p>

<% if current_member %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
<% end %>
