<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date on:</b>
  <%= @event.date_on %>
</p>

<p>
  <b>Information:</b>
  <%= @event.information %>
</p>

<p>
  <b>Coffeespot:</b>
  <%= @event.coffeespot_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
