<p id="notice"><%= notice %></p>

<p>
  <b>タイトル：</b>
  <%= @event.title %>
</p>

<p>
  <b>日時：</b>
  <%= @event.date_on %>
</p>

<p>
  <b>内容：</b>
  <%= @event.information %>
</p>

<p>
  <b>Coffeespot：</b>
  <%= @event.coffeespot_id %>
</p>

<%= link_to '一覧に戻る', events_path %>
<br />
<br />
<% if current_member %>
  <%= link_to '[このイベントの編集]', edit_event_path(@event) %>
  &nbsp;|&nbsp;
  <%= link_to '[このイベントのレポートを書く]', new_event_report_path(@event) %>
<% end %>

<br />
<br />

<% @reports.each do |report| %>
  <%= report.report %>
<% end %>
