<h1>Event</h1>

<p>
  <%= image_tag ("img01_left.jpg")%>&nbsp;&nbsp;<%= link_to 'イベント一覧', events_path %>
  <% if current_member %>
    &nbsp;|&nbsp;
    <%= link_to '[このイベントの編集]', edit_event_path(@event) %>
  <% end %>
</p>

<p>
  <b>タイトル：</b>
  <%= @event.title %>
</p>

<p>
  <b>日時：</b>
  <%= @event.date_on.strftime("%Y/%m/%d - %H:%M") %>&nbsp;から
  <% if @event.date_on.day == @event.end_at.day %>
    <%= @event.end_at.strftime("%H:%M") %>&nbsp;まで
  <% else %>
    <%= @event.end_at.strftime("%Y/%m/%d - %H:%M") %>&nbsp;まで
  <% end %>
</p>

<p>
  <b>内容：</b>
  <%= @event.information %>
</p>

<p>
  <b>Coffeespot：</b>
  <% unless @event.coffeespot_id.blank? %>
    <%= @event.coffeespot.name %>
  <% end %>
</p>

<% if @event.date_on > Time.now %>
  <p>
    <b>参加登録：</b>
    <a href="<%= @event.registry_url %>" target="_blank"><%= @event.registry_url %></a>
  </p>
<% else %>
  このイベントは終了しました。&nbsp;<%= image_tag ("irasuto06.gif") %>
<% end %>

</br>
</br>
</br>
<p>
  <b>レポート：</b>
  <% if current_member %>
    <%= link_to '[新しくレポートを書く]', new_event_report_path(@event) %>
  <% end %>
</p>

<% if @reports.blank? %>
  <p>レポートはまだです。ごめんなさい。<%= image_tag ("irasuto07.gif") %></p>
<% else %>
  <% @reports.each do |report| %>
    <p>
      <span class="posted">Posted by&nbsp;<%= report.member.name %></span>
      <span class="date"><%= report.created_at.strftime("%Y, %m, %d") %></span>
      <br />
      <%= simple_format(report.report) %>
      <% if current_member && report.member_id == current_member.id %>
        このレポートの・・・
        <%= link_to '[編集]', edit_event_report_path(report.event_id, report) %>&nbsp;&nbsp;&nbsp;&nbsp;
        |&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to '[削除]', event_report_path(report.event_id, report), confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </p>
  <% end %>
<% end %>
