<%= stylesheet_link_tag "contacts" %>

<h1>Contact</h1>
<%= form_for(@contact) do |f| %>
  <table>
    <tr>
      <th>本文</th><td><%= f.text_area :letter %></td>
    </tr>
    <tr>
      <th>メールアドレス</th><td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th>お名前</th><td><%= f.text_field :name %></td>
    </tr>
    <th></th><td><%= f.submit '送信' %></td>
  </table>
<% end %>
