<h1>Coffeespots</h1>

<br />
<% if current_member %>
  <%= link_to 'New Coffeespot', new_coffeespot_path %>
<% end %>

<table>
  <tr>
    <th>お店の名前</th>
    <th>住所</th>
    <th>URL</th>
    <th>Memo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coffeespots.each do |coffeespot| %>
  <tr>
    <td><%= coffeespot.name %></td>
    <td><%= coffeespot.address %></td>
    <td><%= coffeespot.url %></td>
    <td><%= coffeespot.memo %></td>
    <% if current_member %>
      <td><%= link_to 'Edit', edit_coffeespot_path(coffeespot) %></td>
      <td><%= link_to 'Destroy', coffeespot, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
