<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @coffeespot.name %>
</p>

<p>
  <b>Address:</b>
  <%= @coffeespot.address %>
</p>

<p>
  <b>Url:</b>
  <%= @coffeespot.url %>
</p>

<p>
  <b>Memo:</b>
  <%= @coffeespot.memo %>
</p>


<%= link_to 'Edit', edit_coffeespot_path(@coffeespot) %> |
<%= link_to 'Back', coffeespots_path %>
