<%= @event.title %>
<%= @event.date_on %>

<%= form_for([@event, @report]) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :report %><br />
    <%= f.text_field :report %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
