<% if current_member %>
  <%= link_to 'New Report', new_report_path %>
<% end %>

<% @reports.each do |report| %>
  <div class="post">
    <h2 class="title"><%= report.event_id %></h2>
    <p class="meta"><span class="date"><%= report.created_at.strftime("%Y, %m, %d") %></span><span class="posted">Posted by <a><%= report.member_id %></a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      <p><%= report.report %></p>
      <p class="links">
	<a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;
	|&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#" title="b0x w">Comments</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<% if current_member %>
	  |&nbsp;&nbsp;&nbsp;&nbsp;
	  <%= link_to 'Edit', edit_report_path(report) %>&nbsp;&nbsp;&nbsp;&nbsp;
	  |&nbsp;&nbsp;&nbsp;&nbsp;
	  <%= link_to 'Destroy', report, confirm: 'Are you sure?', method: :delete %>
	<% end %>
      </p>
    </div>
  </div>
<% end %>

