<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Sparkling   
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100529

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>CoffeeGirl</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header-wrapper">
      <div id="header">
	<div id="logo">
	  <h1><a href="/events/coming_event">Coffee<span>Script</span></a></h1>
	  <p> produced by <a>coffee女子会</a></p>
	</div>
	<div id="menu">
	  <ul>
	    <li <% if params[:controller]=="events" && params[:action]=="coming_event" %>class="current_page_item"<% end %>><%= link_to 'Top', coming_event_events_path %></li>
	    <li <% if params[:controller]=="welcome" && params[:action]=="about" %>class="current_page_item"<% end %>><%= link_to 'About', welcome_about_path %></li>
	    <li <% if params[:controller]=="contacts" && params[:action]=="new" %>class="current_page_item"<% end %>><%= link_to 'Contact', new_contact_path %></li>
	    <% if current_member %>
	      <li <% if params[:controller]=="devise/sessions" && params[:action]=="destroy" %>class="current_page_item"<% end %>><%= link_to 'Logout', destroy_member_session_path %></li>
	    <% else %>
	      <li <% if params[:controller]=="devise/sessions" && params[:action]=="new" %>class="current_page_item"<% end %>><%= link_to 'Login', new_member_session_path %></li>
	    <% end %>
	  </ul>
	</div>
      </div>
    </div>
    <!-- end #header -->
    <div id="page">
      <div id="page-bgtop">
	<div id="page-bgbtm">
	  <div id="content">
	    <%= yield %>
	  </div>
	  <!-- end #content -->
	  <div id="sidebar">
	    <ul>
	      <li>
		<div id="search" >
		    <div>

                      <div id="cse-search-form" style="width: 100%;">Loading</div>
                      <script src="//www.google.com/jsapi" type="text/javascript"></script>
                      <script type="text/javascript"> 
                        google.load('search', '1', {language : 'ja'});
                        google.setOnLoadCallback(function() {
                        var customSearchControl = new google.search.CustomSearchControl('012591741912598237318:qwf7ne0v_xm');
                        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
                        var options = new google.search.DrawOptions();
                        options.enableSearchboxOnly("/welcome/search", "queries");
                        customSearchControl.draw('cse-search-form', options);
                        }, true);
                      </script>
                      <style type="text/css">
                        .gsc-search-box td{
                        padding: 0px;
                        }
                        input.gsc-input {
                        width: 180px;
                        height: 24px;
                        border-color: #DEDEDE;
                        }
                        input.gsc-search-button {
                        height: 24px;
                        font-size: 14px;
                        color: #FFFFFF;
                        border-color: #FA4100;
                        background-color: #FA4100;
                        }
                      </style>

		    </div>
		</div>
		<div style="clear: both;">&nbsp;</div>
	      </li>
	      <li>
		<h2>Coffee女子会へようこそ！</h2>
		<p>CoffeeとCoffeeScriptがキーワードの女子onlyの会です。一緒にCoffeeいかがですか？</p>
	      </li>
	      <li>
		<h2>Categories</h2>
		<ul>
		  <li><%= link_to '次のイベント', coming_event_events_path %></li>
		  <li><%= link_to 'これまでやってきたことと予定', events_path %></li>
		  <li><%= link_to 'これまでのレポート', reports_path %></li>
		  <li><%= link_to 'Coffeeスポット', coffeespots_path%></li>
		  <li><%= link_to 'メンバー', members_path %></li>
		</ul>
	      </li>
	      <li>
		<h2>link</h2>
		<ul>
		  <li><a href="http://qwik.jp/minamirb/FrontPage.html" target="_blank">(Ruby on Railsのコミュ) Minami.rb</a></li>
		  <li><a href="http://jp.rubyist.net/?RubyKansai" target="blank">(Rubyのコミュ) Ruby関西</a></li>
		  <li><a href="http://jashkenas.github.com/coffee-script" target="blank">CoffeeScript</a></li>
		</ul>
	      </li>
              <div id="facebook-button">
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcoffee-girl.heroku.com%2Fevents%2Fcoming_event&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
              </div>
              <div id="twitter-button">
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Coffee女子会" data-lang="ja" data-hashtags="coffee_girl">ツイート</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
	    </ul>
	  </div>
	  <!-- end #sidebar -->
	  <div style="clear: both;">&nbsp;</div>
	</div>
      </div>
    </div>
    <!-- end #page -->
  </div>
  <div id="footer">
    <p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
  </div>
  <!-- end #footer -->
</body>
</html>
