<h1>Members</h1>

<br />
<% if current_member %>
  <%= link_to '[Member登録]', new_member_path %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Twitter</th>
    <th>Profile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.twitter_id %></td>
    <td><%= member.profile %></td>
    <% if current_member %>
      <td><%= link_to 'Edit', edit_member_path(member) %></td>
      <td><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
