<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Twitter:</b>
  <%= @member.twitter_id %>
</p>

<p>
  <b>Profile:</b>
  <%= @member.profile %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
